// Place all the styles related to the user_places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #fff;
}

.wrapper {
  margin: 0 auto;
  padding: 10px 40px 10px 40px;
}

.table {
  margin: 0 0 0px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 26px;
    line-height: 40px;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}

.row:nth-of-type(odd) {
  background: #D6F3FF;
}
.row:nth-of-type(2) {
  background: #FFD700;
  font-size: 160%;
  line-height: 160%;
}
.row:nth-of-type(3) {
  background: #C0C0C0;
  font-size: 140%;
  line-height: 140%;
}
.row:nth-of-type(4) {
  background: #CD7F32;
  font-size: 120%;
  line-height: 120%;
}


.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.header > div {
  text-align: center;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
.row.total {
  font-weight: bold;
  background: #ea6153;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

.cell.place {
  text-align: right;
}
.cell.answers {
  text-align: center;
}

#logo {
  height: 70px;
}
@media screen and (max-width: 580px) {
  #logo {
    height: 30px;
  }
}
@media screen and (min-width: 1000px) {
  #logo {
    height: 100px;
    vertical-align: top;
  }
}

div.all-header {
  text-align: center;
  font-size: 42px;
  line-height: 70px;
  vertical-align: top;
}

@media screen and (min-width: 1000px) {
  div.all-header {
    font-size: 60px;
    line-height: 100px;
  }
}

@media screen and (max-width: 580px) {
  div.all-header {
    font-size: 18px;
    line-height: 30px;
  }
}
